body {
    width: 60%;
    margin: 0 auto;
}

.text {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid green;
}

.static-position {
    position: static;
    background-color: yellow;
}

.relative-position {
    position: relative;
    left: 3rem;
    top: 2rem;
    background-color: aqua;
}

.absolute-position {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:beige;
}

.fixed-position {
    position: fixed;
    right: 0;
    background-color: chartreuse;
}

.sticky-position {
    position: sticky;
    top: 1rem;
    left: 2rem;
    background-color: pink;
}

header {
    padding: 1rem;
    background-color: cadetblue;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-around {
    justify-content: space-around;
}

article {
    padding: 1rem;
    margin: 0.5rem;
    background-color: antiquewhite;
    flex: 1;
}

button:first-child {
    order: 1;
}